@import "antd/dist/reset.css";

a {
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

.content-layout {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}
